!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{:name => "robots", :content => "noindex, nofollow"}
    %title
      Admin | 
      = @title.join(' - ')
      = " | " unless @title.blank?
      = M.config.name
    - @stylesheets += %w{admin}
    = render :partial => "layouts/shared/stylesheets"
    = render :partial => 'layouts/shared/plugins'
    = admin_scripts
    = yield :head

  %body{:class => @bodyclass}
    #header
    #content{:class => content_class}
      - if content_for? :left_sidebar
        #left-col
          = yield :left_sidebar
      #main-content
        / Notifications
        = yield

      - if content_for? :right_sidebar
        #right-col
          = yield :right_sidebar
      .clear
