!!!
%head
  %title= title
  %meta{:name=>"Description", :content=>meta_description}
  %meta{:name=>"Keywords", :content=>meta_keywords}
  %meta{'http-equiv'=>"content-type", :content=>"text/html; charset=iso-8859-1"}
  %meta{:property => 'og:site-name', :content => Key['site.name']}
  
  - @stylesheets += %w{common site_bar theme}
  = render :partial => "layouts/shared/stylesheets"
  = render :partial => 'layouts/shared/plugins'
  = yield :head

%body{:class => @bodyclass}
  #container
    #header
      %h1#logo
        %a{:href=>"/"}= image_tag 'theme/logo.png'
      %ul#main-menu= render_main_menu
    #content
      #main-content
        / Notifications
        = yield
        = yield :webform
      = yield :sidebar
      .clear
    #footer
      %span &copy; <script type="text/javascript">document.write((new Date()).getFullYear())</script> Jon Reis Photography. All rights reserved.
